In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("extract - cash request - data analyst.csv")

In [3]:
df.columns = [col.lower().replace(" ", "_") for col in df.columns] # standarizing to snake_case

In [4]:
# information about my dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

In [5]:
# How many rows and columns I have
df.shape

(23970, 16)

In [6]:
# First 5 rows of dataframe
df.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [7]:
# Changed the time stamp style in the dataframe. This was complicated took a lot of time, I got help for this code.


date_columns = [col for col in df.columns if pd.api.types.is_datetime64_any_dtype(df[col]) or col.endswith('_at') or col.endswith('_date')]

# Step 2: Convert to datetime, handle NaN, and apply formatting
for col in date_columns:
    df[col] = pd.to_datetime(df[col]).dt.strftime('%Y-%m-%d')# Convert to datetime and remove timezone
    df[col] = pd.to_datetime(df[col])# Convert to datetime and remove timezoneS

    

# Print the updated DataFrame
df

ValueError: time data "2019-12-20 17:29:18+00" doesn't match format "%Y-%m-%d %H:%M:%S.%f%z", at position 157. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [8]:
# I wanted to see the difference between isnull and isna

print(df.isnull().sum())

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [9]:
print(df.isna().sum())

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [10]:
n_rows = df.shape[0]
n_columns = df.shape[1]

In [11]:
round(int(df["deleted_account_id"].isnull().sum()) / n_rows * 100, 2)

91.22

In [12]:
# To see if there is duplicated datas
print(df.duplicated().sum())

0

In [13]:
# To see if there is empty spaces
df.eq(" ").sum()

id                            0
amount                        0
status                        0
created_at                    0
updated_at                    0
user_id                       0
moderated_at                  0
deleted_account_id            0
reimbursement_date            0
cash_request_received_date    0
money_back_date               0
transfer_type                 0
send_at                       0
recovery_status               0
reco_creation                 0
reco_last_update              0
dtype: int64

In [14]:
numericals = df.select_dtypes(include="number")
categoricals = df.select_dtypes(exclude="number")

In [15]:
numericals

          id  amount  user_id  deleted_account_id
0          5   100.0    804.0                 NaN
1         70   100.0    231.0                 NaN
2          7   100.0    191.0                 NaN
3         10    99.0    761.0                 NaN
4       1594   100.0   7686.0                 NaN
...      ...     ...      ...                 ...
23965  20616   100.0  13681.0                 NaN
23966  25243    50.0      NaN             30367.0
23967  22357   100.0  82122.0                 NaN
23968  20256   100.0  64517.0                 NaN
23969  19886   100.0  44867.0                 NaN

[23970 rows x 4 columns]

In [16]:
df["status"].unique()

array(['rejected', 'money_back', 'canceled', 'active',
       'direct_debit_rejected', 'transaction_declined',
       'direct_debit_sent'], dtype=object)

In [17]:
df["status"].nunique()

7

In [18]:
df["status"] = df["status"].str.strip().str.lower()
df.status

0                 rejected
1                 rejected
2                 rejected
3                 rejected
4                 rejected
               ...
23965           money_back
23966           money_back
23967           money_back
23968           money_back
23969    direct_debit_sent
Name: status, Length: 23970, dtype: object

In [19]:
# Bunun yanina percentage hazirlayabilirsin
df["status"].value_counts()

status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

In [20]:
df["amount"].astype(int)

0        100
1        100
2        100
3         99
4        100
        ...
23965    100
23966     50
23967    100
23968    100
23969    100
Name: amount, Length: 23970, dtype: int64

In [22]:
valid_values = df['created_at'].dropna()
print(valid_values)

print(df['created_at'].dtype)

df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce')
df

0       2019-12-10
1       2019-12-10
2       2019-12-10
3       2019-12-10
4       2020-05-06
           ...
23965   2020-10-12
23966   2020-10-27
23967   2020-10-20
23968   2020-10-10
23969   2020-10-08
Name: created_at, Length: 23970, dtype: datetime64[ns]
datetime64[ns]

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10,2019-12-11,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10,2019-12-11,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10,2019-12-11,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10,2019-12-18,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06,2020-05-07,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12,2021-02-06,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN
23966,25243,50.0,money_back,2020-10-27,2020-12-18,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00
23967,22357,100.0,money_back,2020-10-20,2021-02-05,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN
23968,20256,100.0,money_back,2020-10-10,2021-02-05,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN
23969,19886,100.0,direct_debit_sent,2020-10-08,2021-01-05,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN

In [36]:
valid_values = df['reimbursement_date'].dropna()
print(valid_values)

print(df['reimbursement_date'].dtype)

df['reimbursement_date'] = pd.to_datetime(df['reimbursement_date'], errors='coerce')

0        2020-01-09 19:05:21.596363+00
1         2020-01-09 19:50:12.34778+00
2        2020-01-09 19:13:35.825041+00
3        2020-01-09 19:16:10.879606+00
4               2020-06-05 22:00:00+00
                     ...
23965           2021-02-06 11:00:00+00
23966           2020-11-03 22:00:00+00
23967           2021-02-05 11:00:00+00
23968           2021-02-05 11:00:00+00
23969           2021-02-05 11:00:00+00
Name: reimbursement_date, Length: 23970, dtype: object
object

In [37]:
df.created_at.min()

Timestamp('2019-11-19 00:00:00')

In [38]:
df.created_at.max()

Timestamp('2020-11-01 00:00:00')

In [39]:
# I calculated how many times each user performed an action. I did it for the user_id not unique id to see per user.
freq_per_user = df.groupby(["user_id","amount"]).size()
freq_per_user

user_id   amount
34.0      100.0     1
35.0      50.0      1
          90.0      3
          100.0     3
47.0      1.0       2
                   ..
103425.0  100.0     1
103437.0  100.0     1
103496.0  100.0     1
103503.0  50.0      1
103719.0  100.0     1
Length: 13157, dtype: int64

In [40]:
totals = df.select_dtypes(include="number").sum()

for col in df.columns:
    if col not in totals:
        totals[col] = "" if df[col].dtype == "object" else ""  

df_with_total = pd.concat([df, pd.DataFrame([totals])], ignore_index=True)

In [41]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,23970.0,13910.966124,3.0,7427.25,14270.5,20607.75,27010.0,7788.117214
amount,23970.0,82.720818,1.0,50.0,100.0,100.0,200.0,26.528065
created_at,23970,2020-08-17 12:00:32.440550912,2019-11-19 00:00:00,2020-07-10 00:00:00,2020-09-02 00:00:00,2020-10-12 00:00:00,2020-11-01 00:00:00,NaN
updated_at,23970,2020-11-01 07:08:48.961201664,2019-12-11 00:00:00,2020-09-16 00:00:00,2020-12-18 00:00:00,2020-12-18 00:00:00,2021-02-12 00:00:00,NaN
user_id,21867.0,32581.250789,34.0,10804.0,23773.0,46965.0,103719.0,27618.565773
deleted_account_id,2104.0,9658.755228,91.0,3767.0,6121.5,16345.0,30445.0,7972.743249

In [42]:
df.reimbursement_date.min()

Timestamp('2019-12-17 19:51:23.910748+0000', tz='UTC')

In [43]:
df.reimbursement_date.max()

Timestamp('2020-12-31 09:58:01.921437+0000', tz='UTC')

In [44]:
time_difference_created_at = (df.created_at.max() - df.created_at.min())
time_difference_reimbursement_date = (df.reimbursement_date.max() - df.reimbursement_date.min())
average_return__of_reimbursement = time_difference_reimbursement_date - time_difference_created_at

In [45]:
time_difference_created_at

Timedelta('348 days 00:00:00')

In [46]:
time_difference_reimbursement_date

Timedelta('379 days 14:06:38.010689')

In [ ]:
# average return time of the payments
average_return__of_reimbursement

Timedelta('31 days 14:06:38.010689')

In [50]:

incident_rates = df.groupby(["id","recovery_status"])
incident_rates

In [49]:
df.recovery_status.value_counts()

recovery_status
completed               2468
pending                  845
pending_direct_debit      16
cancelled                  1
Name: count, dtype: int64

In [54]:
df["amount"].sum()

1982818.0

In [ ]:
""" Incident rates connected with amounts of each incident. 
Ratio of the amount of each incident to the total amount of all incidents. I couldn't find the right way to calculate 
by timeline."""

incident_rates = df.groupby("recovery_status")["amount"].sum()
incident_rates1 = df["amount"].sum()
categorical_incident_rate = incident_rates / incident_rates1 
categorical_incident_rate

recovery_status
cancelled               0.000050
completed               0.098371
pending                 0.032693
pending_direct_debit    0.000666
Name: amount, dtype: float64